{% extends 'base.html' %}
    {% block title %}
        <title>天天生鲜-登录</title>

    {% endblock title %}

    {% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript" src="/static/js/jquery.sha1.js"></script>
    <script type="text/javascript">
        $(function () {
            //存用户名
            $.get('/User/readName/', function (data) {// {list:[...]}
                var list = data.lname;  // []
                var rename = $('.rename');
                $.each(list, function (i, n) {
                    rename.append('<div class="op">' + n + '</div>');
                });

            });
            var i=0;
            //判断密码匹配,跳转
            $('.input_submit').click(function () {
                $.post('/User/toLogin/', {'name': $('.name_input').val()}, function (data) {//{}
                    var upwd = $('.pass_input').val();
                    var shapwd =$.sha1(upwd);
                    if (data.pwd == shapwd) {
                        $.post('/User/toindex/', {'name': $('.name_input').val(),'ischeck':$(".Remember").prop("checked"),'pwd': upwd}, function () {
                            window.location.href = '/';
                        });
                    }
                    else if(data.pwd == 'notValid'){
                        $('.pass_input').val('');
                        $('.btn_error').html('当前账号不可用').show();
                        i +=1;
                        }
                    else if(data.pwd == 'notExists'){
                        $('.pass_input').val('');
                        $('.btn_error').html('用户名不存在').show();
                        i +=1;
                        }
                    else if(data.pwd == 'notActive'){
                        $('.pass_input').val('');
                        $('.active_error').show();
                        var timer = setInterval(func, 1000);
                        var i = 3;
                        func();
                        function func() {
                            $('.active_error span').html(i--)
                            if (i ==  0){
                                clearInterval(timer)
                            }
                        }
                        var uid = data.uid;
                        var url = 'http://127.0.0.1:8000/User/send'+uid;
                        window.location.href = url;
                    }
                    else {
                        $('.pass_input').val('');
                        $('.btn_error').html('用户名或密码错误,请重试!').show();
                        i +=1;
                    }
                    if(i>=3){
                        i=0;
                        $('.yzm').css('display','block');
                    }
                });
                // 验证码是否可见
                var display =$(".yzm").css('display');
                if(display !='none'){
                    // 禁用btn属性
                    $(".input_submit").attr("disabled", true);
                }

            });


            //焦点,隐藏
            $('.pass_input').focus(function () {
                $('.btn_error').hide(); // 提示文字隐藏
            });
            // 监听键盘事件 (这里是监听回车的抬起)
            $(document).keyup(function (event) {
                if (event.keyCode == 13) {
                    $('.input_submit').click();
                }
            });
            // 双击
            $('.name_input').dblclick(function () {
                $('.rename').show();
                $('.op').show();
            });
            // 监听键盘事件 (这里是监听Tab的切换)
            $(document).keyup(function (event) {
                if (event.keyCode == 9) {
                    $('.rename').hide();
                }
            });
            // 移开输入框
            $('.name_input').mouseout(function () {
                $('.form_input').delegate(".op", "mouseenter", function () {
                    $('.rename').show();
                    $('.op').show();
                });
                //　移开
                $('.form_input').delegate(".op", "mouseout", function () {
                    $('.rename').hide();
                });
                $('.rename').hide();
            });
            //　点击
            $('.rename').delegate(".op", "click", function () {
                var name = $(this).html();
                $('.name_input').val(name);
                $('.rename').hide();
                // 判断是否有session
                $.post('/User/remember/',{'name':$('.name_input').val()},function (data) {
                    var pwd =data.repwd //　密文
                    if(pwd){
                        $(".Remember").prop("checked",true);
                        $('.pass_input').val(pwd)
                    }else {
                        $('.pass_input').val('')
                    }
                });

            });

            $(".Remember").click(function () {
                var ischecked = $(".Remember").prop("checked");
                if(ischecked==0){
                    $.post('/User/clearSession/', function (data) {
                        var type =data.type
                        if(type ==0){
                            $('.pass_input').val('')
                        }
                    });
                };
            });

            $('.img').click(function () {
                // 切换验证码
                $('.img').attr('src', $(".img").attr('src')+'?1');
            });
            $('.yzm_btn').click(function () {
                $.post('/User/yzm/',{'yzm':$('.yzm_input').val()},function (data) {
                    var ret =data.ret;
                    if(ret == true){
                        $('.tishi').html("输入正确").css('color', 'green');
                        $('.yzm').delay(500).css('display','none');
                        $('.yzm_input').val("");
                        $(".input_submit").attr("disabled", false);
                    }else {
                        $('.tishi').html("输入有误");
                        $('.yzm_input').val("");
                        $('.img').click();
                    }

                });

            });



        });
    </script>
    {% endblock head %}
{% block body %}


	<div class="login_top clearfix">
		<a href="/Goods/" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录 </h1>
					<a href="/User/register/">立即注册</a>
				</div>
				<div class="form_input">

					<form method="post" >
						<input type="text" name="username" class="name_input" placeholder="请输入用户名">
						<div class="rename">
                        </div>
                        <div class="user_error">输入错误</div>

                        <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>

                        <div class="more_input clearfix">
							<input type="checkbox" name="Remember" class="Remember">
							<label>记住密码</label>
							<a href="/User/forget/">忘记密码</a>
						</div>
						<input type="button" name="" value="登录" class="input_submit">
                        <div class="btn_error">用户名或密码错误,请重试!</div>
                        <div class="active_error">当前账号未激活! <span>3</span>秒 后跳转激活链接!</div>

                    </form>
                    <div class="yzm">
                        <div class="text">您的操作有误,请三思!</div>
                        <img src="/User/verify_code/" class="img fl">
                        <input type="text" name="yzm" class="yzm_input fl" placeholder="请输入验证码">
                        <div class="tishi fl"></div>
                        <input type="button" class="yzm_btn fl" value="提    交">
                    </div>


				</div>

			</div>
		</div>
	</div>
{% endblock body %}