{% extends 'base.html' %}
    {% block title %}
        <title>天天生鲜-登录</title>

    {% endblock title %}

    {% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript">
        $(function () {
            $.get('/User/readName/',function (data) {// {list:[...]}
                var list =data.lname;  // []
                var rename=$('.rename');
                $.each(list,function (i,n) {
                    rename.append('<div class="op">'+n+'</div>');
                });

            })

            $('.input_submit').click(function () {
                $.post('/User/toLogin/',{'name':$('.name_input').val()}, function (data) {//{}

                    var upwd =$('.pass_input').val()
                    if(data.pwd ==upwd && upwd.length>0){
                        $.get('/User/toindex/',{'name':$('.name_input').val(),'ischeck':$(".Remember").prop("checked")}, function () {
                            window.location.href = '/';
                        });
                    }else {
                        $('.pass_input').val('');
                        $('.btn_error').show();
                    }
                });

            });

            $('.pass_input').focus(function () {
                $('.btn_error').hide(); // 提示文字隐藏
            });
             // 监听键盘事件 (这里是监听回车的抬起)
            $(document).keyup(function (event) {
                if (event.keyCode ==13) {
                    $('.input_submit').click();
                }
            });
            // 双击
            $('.name_input').dblclick(function () {
                $('.rename').show();
                $('.op').show();
            });
            // 监听键盘事件 (这里是监听Tab的切换)
            $(document).keyup(function (event) {
                if (event.keyCode ==9) {
                    $('.rename').hide();
                }
            });
            // 移开输入框
            $('.name_input').mouseout(function (){
                $('.form_input').delegate(".op","mouseenter",function () {
                    $('.rename').show();
                    $('.op').show();
                });
                //　移开
                $('.form_input').delegate(".op","mouseout",function () {
                    $('.rename').hide();
                });
                $('.rename').hide();
            });
            //　点击
            $('.rename').delegate(".op", "click", function () {
                var name=$(this).html();
                $('.name_input').val(name);
                $('.rename').hide();
                // 判断是否有session
                $.post('/User/remember/',{'name':$('.name_input').val()},function (data) {
                    var pwd =data.repwd
{#                    alert(pwd)#}
                    if(pwd){
                        $(".Remember").prop("checked",true);
                        $('.pass_input').val(pwd)
                    }else {
                        $('.pass_input').val('')
                    }
                });

            });

            $(".Remember").click(function () {
                var ischecked = $(".Remember").prop("checked");
                if(ischecked==0){
                    $.post('/User/clearSession/', function (data) {
                        var type =data.type
                        if(type ==0){
                            $('.pass_input').val('')
                        }
                    });
                }
            });


        });

    </script>
    {% endblock head %}
{% block body %}


	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录 </h1>
					<a href="#">立即注册</a>
				</div>
				<div class="form_input">

					<form>
						<input type="text" name="username" class="name_input" placeholder="请输入用户名">
						<div class="rename">
                        </div>
                        <div class="user_error">输入错误</div>

                        <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>

                        <div class="more_input clearfix">
							<input type="checkbox" name="Remember" class="Remember">
							<label>记住密码</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="button" name="" value="登录" class="input_submit">
                        <div class="btn_error">用户名或密码错误,请重试!</div>

                    </form>

				</div>
			</div>
		</div>
	</div>
{% endblock body %}