{% extends 'base.html' %}

    {% block title %}
    <title>天天生鲜-用户中心</title>
    {% endblock title %}
    {% block head %}{% endblock head %}

{% block body %}

	<div class="search_bar clearfix">
		<a href="http://127.0.0.1:8000" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/User/user_center/">· 个人信息</a></li>
				<li><a href="/User/user_order_1/" class="active">· 全部订单</a></li>
				<li><a href="/User/user_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for item in list %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ item.order.odate }}</li>
                <li class="col02">{{ item.order.oid }}</li>
                {% if item.order.oIsPay %}
                <li class="col02 stress">已付款</li>
                {% else %}
                <li class="col02 stress">已付款</li>
                {% endif %}
            </ul>

            <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                        {% for it in item.the_list %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="/static/media/{{ it.goods.gpic }}"></li>
                                <li class="col02">{{ it.goods.gtitle }}<em>{{ it.goods.gunit }}</em></li>
                                <li class="col03">{{ it.detail.count }}</li>
                                <li class="col04">{{ it.detail.price }}</li>
                            </ul>
                        {% endfor %}
                        </td>

                        <td width="15%">{{ item.order.ototal }}</td>
                        {% if item.order.oIsPay %}
                        <td width="15%">已付款</td>
                        <td width="15%"><a href="#" class="oper_btn">查物流</a>
                        {% else %}
                        <td width="15%">未付款</td>
                        <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {% endfor %}

            <div class="pagenation">
                {% if page.has_previous %}
                <a href="/User/user_order_1/">首页</a>
				<a href="/User/user_order_{{ page.number|add:-1 }}/">上一页</a>
                {% endif %}

            {% for i in page.paginator.page_range %}
                {% if i == page.number %}
				<a href="#" class="active">{{ i }}</a>
                {% else %}
				<a href="/User/user_order_{{ i }}/">{{ i }}</a>
                {% endif %}
            {% endfor %}

                {% if page.has_next %}
                <a href="/User/user_order_{{ page.number|add:1 }}/">下一页</a>
				<a href="/User/user_order_{{ page.paginator.num_pages }}/">末页</a>
                {% endif %}
			</div>
		</div>
	</div>

{% endblock body %}