
{% extends 'Goods/base_search.html' %}
{% block title %}
    <title>天天生鲜-商品列表</title>
{% endblock title %}
{% block head %}
<script src="/static/js/list.js"></script>
{% endblock head %}
{% block bodynext %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
        <a href="#">搜索<span>></span> {{ query }}</a>
	</div>

	<div class="main_wrap clearfix">

        <ul class="goods_type_list clearfix">
            {% for goods in page %}
                <li style="text-align: center" id="{{ goods.object.id }}">
                <a href="/Goods/{{ goods.object.id }}"><img src="/static/media/{{ goods.object.gpic }}"></a>
                <h4><a href="/Goods/{{ goods.object.id }}">{{ goods.object.gtitle.split.1 }}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{ goods.object.gprice }}</span>
                    <span class="unit">{{ goods.object.gunit }}</span>
                    <a href="javascript:;" class="add_goods" title="{{ goods.object.gpic }}"></a>
                </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if page.has_previous %}
                <a href="/search/?q={{ query }}&page=1">首页</a>
                <a href="/search/?q={{ query }}&page={{ page.number|add:-1 }}">上一页</a>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if i ==  page.number  %}
                <a href="" class="active">{{ i }}</a>
                {% else %}
                <a href="/search/?q={{ query }}&page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <a href="/search/?q={{ query }}&page={{ page.number|add:1 }}">下一页</a>
            <a href="/search/?q={{ query }}&page={{ paginator.num_pages }}">尾页</a>
            {% endif %}
        </div>
    </div>

    <div class="mv" style="display: none;width: 50px;height: 50px;
                       position: absolute;left: 0;top: 0;z-index: 10000;border-radius: 50%;">
        <img src="/static/images/goods/goods001.jpg" style="width: auto;height: auto;max-width: 100%;max-height: 100%">

	</div>
{% endblock bodynext %}