{% extends 'base.html' %}

{% block body %}
<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>

        <div class="search_con fl"><form method='get' action="/search/" target="_blank">
        <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
        <input type="submit" class="input_btn fr" name="" value="搜索"></form>
        </div>

		<div class="guest_cart fr">
			<a href="/Cart/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
	</div>
    <script>
    if($('.login_info').text().indexOf('退出')==-1){
       $('#show_count').text(0)
    }else {
        $.get('/Cart/count/',function (data) {
            if ($('#show_count').text()==''||$('#show_count').text()=='0'){
                $('#show_count').text(0)
            }else{
                 $('#show_count').text(data.count)
            }

        })
    }
    </script>
    {% if isIndex == 1 %}

    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="/Goods/list1_0_1" class="fruit">新鲜水果</a></li>
			<li><a href="/Goods/list2_0_1" class="seafood">海鲜水产</a></li>
			<li><a href="/Goods/list3_0_1" class="meet">猪牛羊肉</a></li>
			<li><a href="/Goods/list4_0_1" class="egg">禽类蛋品</a></li>
			<li><a href="/Goods/list5_0_1" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="/Goods/list6_0_1" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>
    {% else %}
    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
{#                    list后面第一个数字为商品type，第二个为排序方法，第三个为页码#}
					<li><a href="/Goods/list1_0_1" class="fruit">新鲜水果</a></li>
					<li><a href="/Goods/list2_0_1" class="seafood">海鲜水产</a></li>
					<li><a href="/Goods/list3_0_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/Goods/list4_0_1" class="egg">禽类蛋品</a></li>
					<li><a href="/Goods/list5_0_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/Goods/list6_0_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
    {% endif %}
    {% block bodynext %}

    {% endblock bodynext %}
{% endblock body %}
