{% extends 'base.html' %}
    {% block title %}
	    <title>天天生鲜-首页</title>
    {% endblock title %}
    {% block head %}
	    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	    <script type="text/javascript" src="/static/js/slide.js"></script>
        <script type="text/javascript">
        $(function () {
{#            显示 欢迎用户块   #}
            var user = $('#user').attr('href').split('/')
            if(user[3] != ''){
                $(".login_info").show();
                $(".login_btn").hide();
                $(".user").html(user[3]);
            }
            if(user[3] == ''){
                $(".login_info").hide();
                $(".login_btn").show();
            }
        });
        </script>
    {% endblock head %}

    {% block body %}

	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<a class="user" href="/User/userinfo{{ uname }}">用户名</a>
				</div>
				<div class="login_btn fl">
					<a href="/User/login/">登录</a>
					<span>|</span>
					<a href="/User/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a id="user" href="/User/user_center_info/{{ uname }}/">用户中心</a>
					<span>|</span>
					<a href="/Cart/cart/">我的购物车</a>
					<span>|</span>
					<a href="/User/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/Cart/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
{#                从数据库过滤获取新添加商品#}
                {% for goods in fruit %}
{#                    向detail页面跳转并传图片的id过去#}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
            <ul class="goods_list fl">
                {% for fpic in fruit2 %}
                <li>

                    <h4><a href="/Goods/{{ fpic.id }}/">{{ fpic.gtitle.split.1 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}/"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>

                </li>
                {% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
{#                从数据库过滤获取新添加商品#}
                {% for goods in fish %}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}

			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
                 {% for fpic in fish2 %}
                <li>
                    <h4><a href="/Goods/{{ fpic.id }}">{{ fpic.gtitle.split.1 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>
                </li>
                {% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
 {#                从数据库过滤获取新添加商品#}
                {% for goods in meal %}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
                  {% for fpic in meal2 %}
                <li>
                    <h4><a href="/Goods/{{ fpic.id }}">{{ fpic.gtitle.split.1 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
{#                从数据库过滤获取新添加商品#}
                {% for goods in eggs %}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
                {% for fpic in eggs2 %}
                <li>
                    <h4><a href="/Goods/{{ fpic.id }}">{{ fpic.gtitle.split.0 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
{#                从数据库过滤获取新添加商品#}
                {% for goods in vege %}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
                {% for fpic in vege2 %}
                <li>
                    <h4><a href="/Goods/{{ fpic.id }}">{{ fpic.gtitle.split.1 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
{#                从数据库过滤获取新添加商品#}
                {% for goods in fastFrozen %}
                <a href="/Goods/{{ goods.id }}">{{ goods.gtitle.split.1 }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
{#            从数据库过滤获取点击量最高的四个商品，遍历显示#}
                {% for fpic in fastFrozen2 %}
                <li>
                    <h4><a href="/Goods/{{ fpic.id }}">{{ fpic.gtitle.split.0 }}</a></h4>
                    <a href="/Goods/{{ fpic.id }}"><img src="/static/media/{{ fpic.gpic }}"></a>
                    <div class="prize">{{ fpic.gprice }}</div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

    {% endblock body %}


