{% extends 'Goods/base_search.html' %}
{% block title %}
    <title>天天生鲜-商品列表</title>
{% endblock title %}
{% block head %}
<script src="/static/js/list.js"></script>
{% endblock head %}
{% block bodynext %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ goods2.0.gtype.ttile }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for good in goods2 %}
                        <li style="text-align: center">
                        <a href="/Goods/{{ good.id }}"><img src="/static/media/{{ good.gpic }}"></a>
						<h4><a href="/Goods/{{ good.id }}">{{ good.gtitle.split.1 }}</a></h4>
						<div class="prize">￥{{ good.gprice }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/Goods/list{{ goods2.0.gtype.id }}_0_1"
                {% if sort == 0 %} class="active" {% endif %}>默认</a>
				<a href="/Goods/list{{ goods2.0.gtype.id }}_1_1"
                {% if sort == 1 %} class="active" {% endif %}>价格</a>
				<a href="/Goods/list{{ goods2.0.gtype.id }}_2_1"
                {% if sort == 2 %} class="active" {% endif %}>人气</a>
			</div>
			<ul class="goods_type_list clearfix">

                {% for good in page %}
                    <li style="text-align: center" id="{{ good.id }}">
                    <a href="/Goods/{{ good.id }}"><img src="/static/media/{{ good.gpic }}"></a>
                    <h4><a href="/Goods/{{ good.id }}">{{ good.gtitle.split.1 }}</a></h4>
                    <div class="operate">
						<span class="prize">￥{{ good.gprice }}</span>
						<span class="unit">{{ good.gunit }}</span>
						<a href="javascript:;" class="add_goods" title="{{ good.gpic }}"></a>

					</div>
                    </li>
                {% endfor %}
			</ul>
			<div class="pagenation">
                {% if page.has_previous %}
                    <a href="/Goods/list{{ goods2.0.gtype.id }}_{{ sort }}_1">首页</a>
                    <a href="/Goods/list{{ goods2.0.gtype.id }}_{{ sort }}_{{ page.number|add:-1 }}">上一页</a>
                {% endif %}

                {% for i in pagenum %}
                    {% if i == page.number %}
                    <a href="" class="active">{{ i }}</a>
                    {% else %}
                    <a href="/Goods/list{{ goods2.0.gtype.id }}_{{ sort }}_{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                <a href="/Goods/list{{ goods2.0.gtype.id }}_{{ sort }}_{{ page.number|add:1 }}">下一页</a>
                <a href="/Goods/list{{ goods2.0.gtype.id }}_{{ sort }}_{{ page.paginator.num_pages }}">尾页</a>
                {% endif %}
			</div>
		</div>

	</div>


    <div class="mv" style="display: none;width: 50px;height: 50px;
                            position: absolute;left: 0;top: 0;z-index: 10000;border-radius: 50%;">
        <img src="/static/images/goods/goods001.jpg" style="width: auto;height: auto;max-width: 100%;max-height: 100%">
    </div>

{% endblock bodynext %}